@font-face {
	font-family: 胡晓波男神体;
	src: url('https://sanqianzzz.github.io/xingchen/font/HuXiaoBoNanShenTi-2.otf');
}
@font-face {
	font-family: 方正中粗雅宋;
	src: url('https://sanqianzzz.github.io/xingchen/font/FZZCYSK.TTF');
}
* {
	margin:0;
	padding:0;
}
body {
	background: #fff;
}
a {
	text-decoration:none;
}
#nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    padding: 0 75px 0 95px;
    box-sizing: border-box;
    background-color: #fdfdfd;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.4);
    z-index: 100;
    backface-visibility: hidden;
}
.logo img {
	width:80px;
	padding-right:15px;
	float:left;
}
.logo h1 {
	font-size: 25px;
	font-family: 胡晓波男神体;
	float:left;
	line-height: 80px;
	color:black;
}
#search input {
	position: fixed;
    top: 25px;
    right: 75px;
	transition: 0.12s ease;
	outline-style: none;
	border-radius: 42px;
	border: 2px solid #2f4f4f;
	width: 180px;
	padding-left: 13px;
	height: 30px;
}
#search input:focus {
	width:230px;
}
#list {
	position: fixed;
	top: 59px;
	right: 89px;
	width:215px;
	z-index: 100;
	min-height:0px;
	overflow-y:auto;
	max-height:240px;
	background-color: white;
	border: 1px solid black;
	border-top: 0px;
	display: none;
}
#list li {
	list-style-type:none;
}
#list li a {
	text-indent:8px;
	color:black;
	font-size: 14px;
	height: 30px;
	width:215px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	line-height: 30px;
	background-color: white;
	transition:background-color 0.1s ease-in-out;
}
#list li a:hover {
	background-color: grey;
}
#bookcase {
	margin: 0 auto;
	width:1110px;
	padding:5px;
}
#bookt {
	margin-top: 80px;
	padding-top: 30px;
	height: 400px;
}
#bookt2 {
	margin-top: 40px;
	height: 356px;
}
#bookt2 h2 {
	color: #666;
	margin-left:10px;
}
#bookt3 {
	margin-top: 40px;
	height: 500px;
}
#bookt3 h2 {
	color: #666;
	margin-left:10px;
}
#hot {
	width:760px;
	float: left;
}
#hot h2 {
	color: #666;
	margin-left:10px;
}
.book {
	margin-top: 25px;
    width: 320px;
    height: 140px;
    margin-right: 20px;
	display: inline-block;
}
.book_img {
	margin-right: 15px;
	float: left;
}
.book_img img {
	width: 105px;
    height: 140px; 
}
.book_information {
	height: 140px;
	width: 200px;
	float: left;
}
.book_information span.name {
	display: block;
	height: 24px;
    overflow: hidden; 
}
.book_information .name a {
	transition: color 0.2s ease-in-out;
	color: #1a1a1a;
    font-weight: 520;
	font-size: 1.15em;
    line-height: 24px;
}
.book_information .name a:hover {
	color: #e44c65;
}
.book_information p {
	text-indent: 2em;
    color: #666;
	line-height: 1.8em;
    height: 80px;
    overflow: hidden;
    margin-top:5px;
}
.book_footer {
	height: 31px;
	padding-top:9px;
}
.book_information a.kind {
	color: #1a1a1a;
    transition: color 0.2s ease-in-out;
    display: inline-block;
	overflow: hidden; 
	margin-right:5px;
}
.book_information a.kind:hover {
	color: #e44c65;
}
.book_information a.writer {
	color: #1a1a1a;
    transition: color 0.2s ease-in-out;
    display: inline-block;
	overflow: hidden; 
	margin-left:5px;
}
.book_information a.writer:hover {
	color: #e44c65;
}
#booklist {
	width: 350px;
	float: left;
}
#booklist h2 {
	color: #666;
	padding-left:10px;
}
#hotlist {
	margin-top: 25px;
	width:300px;
	height: 322px;
	border: 0;
	background-color: #efeef2;
	padding-left:25px;
	padding-right:25px;
}
#hotlist li {
	list-style-type: none;
	padding-top:3px;
	padding-bottom:3px;
	border-bottom: 1px dotted #d5d4d8;
	line-height: 33px;
	height: 33px;
	color:#666;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}
#hotlist li a {
	padding-left:8px;
	color:#666;
	transition:color 0.2s ease-in-out;
}
#hotlist li a:hover {
	color:#e44c65;
}
#movie-img{
	width:385px;
	height:300px;
	margin-top:25px;
	margin-right:25px;
	padding:0px;
	overflow:hidden;
	float: left;
}
#movie-img2{
	float:left;
	width:385px;
	height:300px;
	margin:0px;
	padding:0px;
	position:relative;
}
#flash-pic{
	width:385px;
	height:300px;
	margin:0px;
	padding:0px;
}
.flash-picture img {
	left:133px;
	overflow:hidden;
	position:absolute;	
	width: 120px;
    height: 160px; 
	top:25px;
}
#flash_num{
	list-style:none;	
	position:absolute;
	top:240px;
}
.click_out{
	float:left;
	display:block;
	margin-left:5px;
	width:90px;
	height:30px;
	background:#333;
	line-height:30px;	
	text-align:center;
	color:#FFF;
	font-size:16px;
	font-weight:bold;
	cursor:pointer;
	overflow:hidden;
}	
 
.click_over{
	float:left;	
	display:block;
	margin-left:5px;
	width:90px;
	height:30px;
	background:red;
	line-height:30px;	
	text-align:center;
	color:#FFF;
	font-size:16px;
	font-weight:bold;
	cursor:pointer;
	overflow:hidden;
}
#new {
	margin-left: 80px;
	float: left;
	width:620px;
	height: 300px;
    margin-top: 25px;
}
.novel {
	width:280px;
	height: 150px;
	margin-right: 30px;
	float: left;
}
.novel h3 {
	overflow: hidden;
    height: 35px;
}
.novel a {
	line-height: 35px;
	color: #1a1a1a;
	transition:color 0.2s ease-in-out;
}
.novel a:hover {
	color:#e44c65;
}
.novel p {
	text-indent: 2em;
	/* font-size: 15px; */
    line-height: 21px;
    overflow: hidden;
    height: 105px;
    color: #666;
}
.novellist {
	margin-top:25px;
	width:300px;
	margin-left:60px;
}
.novellist h3 {
	font-family: 方正中粗雅宋;
	font-weight: 400;
	font-size: 18px;
    line-height: 25px;
    overflow: hidden;
	padding-bottom: 5px;
    height: 25px;
    color: #1a1a1a;
	border-bottom: 1px solid black;
}
#footer {
	clear: both;
    background: rgb(225, 225, 225);
    border-top: 1px solid rgb(222, 222, 222);
    margin: 30px auto 0;
    font-size: 12px;
    padding-top: 20px;
	height: 70px;
	width: 100%;
}
#footerlist {
	width:240px;
	margin:0 auto;

}
#footerlist li {
	list-style-type: none;
	float: left;
	padding-left: 20px;
}
#footerlist li a {
	color:black;
}
#footerlist li a:hover {
	text-decoration:underline;
}
#footer p {
	text-align: center;
}